* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  background-image:  url(./assets/spring.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right:8%;
  box-sizing: border-box;
}
.navbar{
  height:12%;
  display: flex;
  list-style: none;
  align-items: center;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 15px;
}
.logo{
  width: 100px;
  cursor: pointer;
}

nav{
  flex: 1;
  text-align:right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a{
  text-decoration: none;
  color: #AE3C78;
  font-size: 13px;

}
.row{
  display: flex;
  height: 88%;
  align-items: center;
}
.column{
  flex-basis: 50%;
}
h1{
  color: #AE3C78;
  font-size: 99px;
  text-align: center; 
}

body {
  min-height: 100vh;
  background: url(./assets/spring.jpg) center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Basic reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Poppins, sans-serif;
  /* background-color: #f4f4f4; */
  background-color: #fff5;
  backdrop-filter: blur(15px);
}


body {
  font-family: Arial, sans-serif;
  background-color: none;
}

/* Main table styles */
.table {
  width: 80%;
  margin: 20px auto;
  background-color: #fff5;
  backdrop-filter: blur(15px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
}

/* Header styles */
.table__header {
  background-color: #fff4;
  color: white;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  align-content: center;
  
}

.table__header h2 {
  margin: 0;
  font-size: 24px;
}

/* Container styles */
.single-container {
  padding: 20px;
}

/* Content styles */
.single-content {
  .single-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/* Input and button styles */
input[type="text"],
select,
button {
  color: black;
  border: #fff;
  background: none;
  margin-right: 5px;
}

button {
  background: rgba(189, 189, 189, 0.299);
  box-shadow: 0 8px 32px 0 rgba(1, 2, 6, 0.37);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(20px);
  border: none;
  color: #fff;
  padding: 5px 5px;
  border-radius: 50px;
  letter-spacing: 1.5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

/* Paragraph styles */
.lighter-color {
  color: #888;
  font-size: 14px;
}